{% extends 'base.html' %}
{% load static %}

{% block title %}Add Student Employee{% endblock %}

{% block content %}

{% comment %} <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Add User</title>
    <link href="css/styles.css" rel="stylesheet" />
    <script
      src="https://use.fontawesome.com/releases/v6.1.0/js/all.js"
      crossorigin="anonymous"
    ></script>
  </head> 
  <body class="bg-primary">
    <div id="layoutAuthentication">
      <div id="layoutAuthentication_content">
        <main> {% endcomment %}
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                  <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">Add User</h3>
                  </div>
                  <div class="card-body">

                    <form name="addEmployee" method="post" action="{% url 'storeStudentEmployee' %}">
                      {% csrf_token %}
                      <div class="row mb-3">
                        <h3 class="text-center my-4">Student Personal Information</h3>
                        <div class="col-md-4">
                          <div class="form-floating mb-3 mb-md-0">
                            <input
                            required
                              class="form-control"
                              id="inputFirstName"
                              name="inputFirstName"
                              type="text"
                              placeholder="Enter your first name"
                            />
                            <label for="inputFirstName">First name</label>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-floating">
                            <input
                            required
                              class="form-control"
                              id="inputLastName"
                              name="inputLastName"
                              type="text"
                              placeholder="Enter your last name"
                            />
                            <label for="inputLastName">Last name</label>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-floating mb-3 mb-md-0">
                            <input
                            required
                              class="form-control"
                              id="inputBYUName"
                              name="inputBYUName"
                              type="text"
                              placeholder="Name on BYU Records:"
                            />
                            <label for="inputBYUName">Name on BYU Records:</label>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col-md-6">
                          <div class="form-floating mb-3">
                            <input
                            required
                              class="form-control"
                              id="inputEmail"
                              name="inputEmail"
                              type="email"
                              placeholder="name@example.com"
                            />
                            <label for="inputEmail">Email address</label>
                          </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3 mb-md-0">
                                <input
                                required
                                  class="form-control"
                                  name="phoneNumber"
                                  id="phoneNumber"
                                  type="text"
                                  placeholder="Phone Number"
                                />
                                <label for="phoneNumber">Phone Number</label>
                              </div>

                          
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col-md-6">
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              value="True"
                              name="international"
                              id="international"
                            />
                            <label class="form-check-label" for="international">
                              International Student?
                            </label>
                          </div>
                        </div>


                        </div>
                        
                      </div>
                      
                      <div class="row mb-3">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="gender">Select Gender</label>
                                <select
                                required
                                  name="gender"
                                  id="gender"
                                  class="form-control"
                                  style="width: 100%"
                                >
                                <option disabled selected value> -- select an option -- </option>
                                  <option value="Male">Male</option>
                                  <option value="Female">Female</option>
                                  
                                </select>
                              </div>
                        </div>
                      
                        <div class="col-md-4">
                          <div class="form-floating mb-3 mb-md-0">
                            <input
                            required
                              class="form-control"
                              id="BYUID"
                              name="BYUID"
                              type="text"
                              placeholder="Phone Number"
                            />
                            <label for="BYUID">BYU ID</label>
                          </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="yearInProgram"
                                  >Select Student Year</label
                                >
                                <select
                                required
                                  name="yearInProgram"
                                  id="yearInProgram"
                                  class="form-control"
                                  style="width: 100%"
                                >
                                <option disabled selected value> -- select an option -- </option>
                                {% for x in yearInProgram %}
                                <option value="{{x}}">{{x}}</option>
                      
                        {% endfor %}
                                </select>
                              </div>
                          
                        </div>
                      </div>
                      <h3 class="text-center my-4">Student Employment Information</h3>
                      <div class="row mb-3">
                        
                        
                        <div class="col-md-6">
                          <div class="form-group">
                              <label for="employeeRecord">
                                Employee Record
                              </label>
                              <select
                              required
                                name="employeeRecord"
                                id="employeeRecord"
                                class="form-control"
                                style="width: 100%"
                              >
                              <option disabled selected> -- select an option -- </option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">
                                  3
                                </option>
                                <option value="Other">Other</option>
                              </select>
                            </div>
                      </div>
                       
                        <div class="col-md-6">
                          <div class="form-floating mb-3 mb-md-0">
                            <input
                            required
                              class="form-control"
                              name="hireDate"
                              id="hireDate"
                              type="date"
                              placeholder="Hire Date"
                            />
                            <label for="hireDate">Hire Date</label>
                          </div>
                        </div>
                      </div>

                      <div class="row mb-3">
                        <div class="col-md-6">
                          <div class="form-floating mb-3 mb-md-0">
                            <input
                            required
                              class="form-control"
                              name="payRate"
                              id="payRate"
                              type="number"
                              step=".01"
                              placeholder="payRate"
                            />
                            <label for="payRate">Pay Rate</label>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-floating mb-3 mb-md-0">
                            <input
                           
                              class="form-control"
                              name="lastPayRaise"
                              id="lastPayRaise"
                              type="date"
                              placeholder="lastPayRaise"
                            />
                            <label for="lastPayRaise"
                              >Last Pay Rate Increase</label
                            >
                          </div>
                        </div>
                      </div>

                      <div class="row mb-3">
                        <div class="col-md-6">
                          <div class="form-floating mb-3 mb-md-0">
                            <input
                            
                              class="form-control"
                              name="payRateIncrease"
                              id="payRateIncrease"
                              type="number"
                              step=".01"
                              placeholder="payRateIncrease"
                            />
                            <label for="payRateIncrease"
                              >Pay increase amount ($)</label
                            >
                          </div>
                        </div>
                          <div class="col-md-6">
                            <div class="form-floating mb-3 mb-md-0">
                              <input
                              
                                class="form-control"
                                name="increase_input_date"
                                id="increase_input_date"
                                type="date"
                                placeholder="increase_input_date"
                              />
                              <label for="increase_input_date"
                                >Increase Input Date</label
                              >
                            </div>
                          
                        </div>

                        
                      <div class="row mt-3 mb-3">
                        <div class="col-md-4">
                          <div class="form-floating mb-3 mb-md-0">
                              <input
                              required
                                class="form-control"
                                name="expected_hours"
                                id="expected_hours"
                                type="number"
                                step=".01"
                                placeholder="expected_hours"
                              />
                              <label for="expected_hours">Expected Work Hours</label>
                            </div>

                        
                      </div>
                      <div class="col-md-4">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            value="True"
                            name="paidTuition"
                            id="namepaidTuitionChange"
                          />
                          <label class="form-check-label" for="paidTuition">
                            Paid Grad Tuition?
                          </label>
                        </div>
                      </div>

                        
                          
                      <div class="col-md-4">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            value="True"
                            name="nameChange"
                            id="nameChange"
                          />
                          <label class="form-check-label" for="namechange">
                            Name Change Completed?
                          </label>
                        </div>
                      </div>
                      <h4 class="text-center my-4">Work Auth/Qualtrics</h4> 
                      

                      <div class="row mb-3">
                        <div class="col-md-6">
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              value="True"
                              name="authorized"
                              id="authorized"
                            />
                            <label class="form-check-label" for="authorized">
                              Authorization to Work Received?
                            </label>
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="form-floating mb-3 mb-md-0">
                            <input
                              class="form-control"
                              name="authSent"
                              id="authSent"
                              type="date"
                              placeholder="authSent"
                            />
                            <label for="authSent"
                              >Authorization Date Sent</label
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                      
                      <div class="row mb-6">
                          <div class="col-md-4">
                            <label>Qualtrics Survey Sent?</label>
                            <div class="form-floating mb-3 mb-md-0">
                              <select
                                class="form-control"
                                name="qualtrics"
                                id="qualtrics"
                                style="width: 100%"
                          
                              >
                              <option disabled selected value> -- select an option -- </option>
                              <option value="True">Yes</option>
                              <option value="False">No</option>
                            </select>
                            </div>
                          </div>

                          <div class="col-md-4">
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  value="True"
                                  name="eForm"
                                  id="eForm"
                                />
                                <label class="form-check-label" for="eForm">
                                  Submitted E-Form
                                </label>
                              </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-floating mb-3 mb-md-0">
                              <input
                                class="form-control"
                                name="eformDate"
                                id="eformDate"
                                type="date"
                                placeholder="eformDate"
                              />
                              <label for="eformDate"
                                >E-form Date Sent</label
                              >
                            </div>
                            </div>
                        </div>
                        <h4 class="text-center my-4">Termination Details</h4>
                        <div class="row mb-3">

                          <div class="col-md-6">
                            <div class="form-check">
                              <input
                                class="form-check-input"
                                type="checkbox"
                                value="True"
                                name="Terminated"
                                id="Terminated"
                              />
                              <label class="form-check-label" for="Terminated">
                                Are they Terminated?
                              </label>
                            </div>
                          </div>


                    
    
                            <div class="col-md-6">
                              <div class="form-floating mb-3 mb-md-0">
                                <input
                                  class="form-control"
                                  name="terminatedDate"
                                  id="terminatedDate"
                                  type="date"
                                  placeholder="terminatedDate"
                                />
                                <label for="terminatedDate">Termination Date</label>
                              </div>
                            </div>
                          </div>
                          <h4 class="text-center my-4">Additional Notes</h4>
                      <div class="form-group mb-3">
                        <label for="notes">Notes</label>
                        <textarea
                          class="form-control"
                          name="notes"
                          id="notes"
                          rows="3"
                        ></textarea>
                      </div>
                      <div class="form-group mb-3">
                        <label for="messageText">Email To Employee</label>
                        <input
                          class="form-control"
                          name="messageSubject"
                          id="messageSubject"
                          type="text"
                          placeholder="Email Subject"
                          value="Hiring Instructions"
                        />
                        <textarea
                          class="form-control"
                          name="messageText"
                          id="messageText"
                          rows="3"
                          placeholder="Message Body"
                        ></textarea>
                      </div>
                      <button type="submit" class="btn btn-primary">Add Employee</button>
                    </form>

                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        {% comment %} </main>
      </div>
      <div id="layoutAuthentication_footer">
        <footer class="py-4 bg-light mt-auto">
          <div class="container-fluid px-4">
            <div
              class="d-flex align-items-center justify-content-between small"
            >
              <div class="text-muted">Copyright &copy; Your Website 2022</div>
              <div>
                <a href="#">Privacy Policy</a>
                &middot;
                <a href="#">Terms &amp; Conditions</a>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      crossorigin="anonymous"
    ></script>
    <script src="js/scripts.js"></script>
  </body>
</html> {% endcomment %}

{% endblock %}